.idea/workspace.xml
.idea/tasks.xml
.idea/dbnavigator.xml
.idea/uiDesigner.xml

build

lib/logback/*
!lib/logback/.gitkeep

lib/slf4j/*
!lib/slf4j/.gitkeep

lib-test/junit4/*
!lib-test/junit4/.gitkeep

log/*
!log/.gitkeep

out

test-reports




